
@font-face {
	font-family: 'YesteryearRegular';
	src: url('../fonts/yesteryear/yesteryear-regular-webfont.eot');
	src: local('?'), url('../fonts/yesteryear/yesteryear-regular-webfont.woff') format('woff'), url('../fonts/yesteryear/yesteryear-regular-webfont.ttf') format('truetype'), url('../fonts/yesteryear/yesteryear-regular-webfont.svg#YesteryearRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}


h1, h2, h3, h4, h5, h6, .trt_button a, #submit_msg, #submit_msg, #submit, .fourofour a, .trt_wgt_tt, #related ul li a, .logo h1 a, #slider .slider-content h2 a, .lay1 .post .postitle a, .lay1 .page .postitle a, #posts .postitle, #posts .postitle a, .znn_wgt_tt{ font-family: 'YesteryearRegular'!important; font-weight:normal!important; text-transform:capitalize!important;}


.logo h1 a{ font-size:40px;}
#topmenu ul li a{ font-size:16px;font-family: 'YesteryearRegular'!important; font-weight:normal!important; text-transform:capitalize!important;}

.lay1 .post_content h2 a, .lay2 .post_content h2 a, .midrow_block h3{ font-size:18px!important;}
#thn_welcom{font-family: 'YesteryearRegular'!important; font-size:28px;}
#footer .widgets .widget ul li .thn_wgt_tt, #sidebar .widgets .widget li a, .commentlist .commentmetadata, .commentlist .commentmetadata a, #newslider_home ul#tabs_home li a h4, ul#tabs li a{font-family: 'YesteryearRegular'!important; font-size:16px;}
.single_wrap .postitle{ font-size:28px;}